{% extends 'base.html.twig' %}

{% block title %}Mon espace utilisateur{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('js/auth/toggle-guard-ip.js') }}"></script>
    <script type="module" src="{{ asset('js/auth/add-user-ip.js') }}"></script>
{#    <script type="module" src="{{ asset('js/auth/edit-user-ip.js') }}"></script>#}
{% endblock %}

{% block body %}
    <main class="container text-center mt-3">
        <section class="table-responsive">
            <h1 class="mt-5 mb-3">Mon compte utilisateur</h1>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Mot de passe</th>
                        <th>Activer l'authentification d'adresse IP</th>
                        <th scope="col">Mes adresse IP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm m-3">Modifier mon mot de passe</a>
                        </td>
                        <td>
                            <fieldset class="custom-control custom-switch">
                                <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="check_user_ip_checkbox"
                                        data-url="{{ path('app_user_account_toggle_checking_ip') }}"
                                        {{ user.isGuardCheckIp ? "checked" : null }}
                                >
                                <label class="custom-control-label" for="check_user_ip_checkbox">{{ user.isGuardCheckIp ? "Active" : "Inactive"}}</label>
                            </fieldset>
                        </td>
                        <td>
                            <p id="user_ip_addresses"
                               data-url="{{ path('app_user_account_edit_user_ip') }}"
                               contenteditable="true"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Cliquer pour ajouter ou supprimer une ou plusieurs adresses IP pour cliquer sur la touche 'Entrée'."
                            >{{ user.whiteListedIpAddresses|join(' | ') }}</p>
                            <button
                                    type="button"
                                    class="btn btn-warning btn-sm m-2"
                                    id="add_user_ip_btn"
                                    data-url="{{ path('app_user_account_add_user_ip') }}"
                            >
                                Ajouter mon adresse IP actuelle
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="table-responsive">
            <h1 class="mt-5 mb-3">Mes articles</h1>
            <table class="table table-sm table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Nombre d'article créés</th>
                    <th>Nombre d'articles publiés</th>
                    <th>Nombre d'articles en attente de publication</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ articlesCreatedCount }}</td>
                        <td>{{ articlesPublished }}</td>
                        <td>{{ articlesCreatedCount - articlesPublished }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% include "_partials/_confirm_password_modal.html.twig" %}
    </main>
{% endblock %}
