{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block body %}
    <main class="container text-center mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Accéder à votre espace</h1>
        {% include "_partials/_flashbag.html.twig" %}

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes authentifiez en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                </div>
            {% endif %}

            <section class="row">
                <fieldset class="my-3 col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control text-center" required autofocus>
                </fieldset>
                <fieldset class="my-3 col-md-6">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control text-center" required>
                </fieldset>
            </section>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <fieldset class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input" id="remember_me_checkbox" name="_remember_me">
                <label class="custom-control-label" for="remember_me_checkbox">Se souvenir de moi</label>
            </fieldset>

            <button class="btn btn-ml btn-primary d-block mx-auto" type="submit">Valider</button>
        </form>
    </main>
{% endblock %}
