{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <main class="container mt-3">
        <h1 class="text-center">Réinitialiser votre mot de passe</h1>

        {{ form_start(resetPasswordForm) }}
        <div class="row mt-3">
            <div class="col-md-6">
                {{ form_row(resetPasswordForm.password.first) }}
            </div>
            <div class="col-md-6">
                {{ form_row(resetPasswordForm.password.second) }}
            </div>
        </div>
        <div class="mt-5 mb-3 text-center">
            <button
                    type="submit"
                    class="btn btn-primary d-block mx-auto"
                    title="Saisissez deux fois votre nouveau mot de passe pour le réinitialiser."
            >
                Valider
            </button>
            <small>Vous devez modifier votre mot de passe avant {{ passwordMustBeResetBefore }}</small>
        </div>
        {{ form_end(resetPasswordForm) }}
    </main>
{% endblock %}